<!--База и Бонус-->
body {
    background-color: #f2f2f2;
  }
  
  h2 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
  }
  
  div {
    background-color: #a1c4e1;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  p {
    font-size: 18px;
    margin: 0;
  }
  
  h2 + div {
    border: 2px solid #cccccc;
  }

